@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-principal: #59ea8a;
    --color-secundario: white;
    --color-fondo: #051e30 ;
    --color-terciario: #39396a;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Jost", sans-serif;
}

body{
    background-color: var(--color-fondo);
    color: var(--color-secundario);

}

a{
    color: var(--color-secundario);
    text-decoration: none;
}

a:hover{
    color: var(--color-terciario);
    text-transform: uppercase;
}

.menu{
    list-style-type: none;
}

.contacto{
    text-align: center;
}

.contenedor-flex {
    display: flex;
    justify-content: space-between;
}